{% extends 'home.html' %}
{% block content %}



<h2>Add Marks</h2>
<form action="/student/addstumarks/" method="POST">{% csrf_token %}
    <center>

     <span>maths</span>  <input type="number" name="maths" min="1" max="100"><br><br>
   <span>physics</span>  <input type="number" name="physics" min="1" max="100"><br><br>
   <span>chemistry</span>  <input type="number" name="chemistry" min="1" max="100"><br><br>
        <input name="submit" type="submit" value="Submit">
       <input name="reset" type="reset" value="Reset">

</center>
 </form>

{%endblock content%}

