{% extends 'home.html' %}
{% block content %}
<body>
<h1>DEPARTMENTS</h1>
<style>

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
th, td {
  padding: 15px;
  text-align: left;
}

</style>
<table style="...">
    <tr>
        <td>CIVIL ENGINEERING</td>
    </tr><tr>
        <td>COMPUTER SCIENCE</td>
    </tr><tr>
        <td>ELECTRONICS & COMMUNICATION</td>
    </tr><tr>
        <td>ELECTRICAL & ELECTRONICS ENGG</td>
    </tr><tr>
        <td>MECHANICAL ENGINEERING</td>
    </tr>
    <tr>
        <td>INFORMATION TECHNOLOGY</td>
    </tr>
</table>

</body>
{%endblock content%}