{% extends 'home.html' %}
{% block content %}
</head>
<style>
table,th,td
 {
 border:1px solid black;

 }
th,td
{
padding:15px;
}
</style>
<body>
<form action="/student/fee/" method="POST">{% csrf_token %}
<table style="..">
    <tr>
    <th>
        YEAR/SEMESTER
    </th>
    <th>
        AMOUNT(Rs)
    </th>
        <th>
        PRESENT FEE(RS)
    </th>
    </tr>
        <tr>
        <td>
         1st year
        </td>
        <td>
            <input type="number" value="number"name="first">
        </td>
        <td>
          {{Fee.first}}
        </td>
        </tr><tr>
        <td>
         2nd Semester
        </td>
        <td>
            <input type="number" value="number"name="second">
        </td>
        <td>
          {{Fee.second}}
        </td>

    </tr><tr>
        <td>
         3rd Semester
        </td>
        <td>
            <input type="number" name="third">
        </td>
        <td>
          {{Fee.third}}
        </td>
    </tr><tr>
        <td>
         4th Semester
        </td>
        <td>
            <input type="number" name="fourth">
        </td>
        <td>
          {{Fee.fourth}}
        </td>
    </tr><tr>
        <td>
         5th Semester
        </td>
        <td>
            <input type="number" name="fifth">
        </td>
        <td>
          {{Fee.fifth}}
        </td>
    </tr><tr>
        <td>
         6th Semester
        </td>
        <td>
            <input type="number" name="sixth">
        </td>
        <td>
         {{Fee.sixth}}
        </td>
    </tr></tr><tr>
        <td>
         7th Semester
        </td>
        <td>
            <input type="number"  name="seventh">
        </td>
        <td>
         {{Fee.seventh}}
        </td>
    </tr>

</table><br>

<input type="submit" value="Submit">
<input type="reset" value="Reset">
</form>
{%endblock content%}
</body>
