{% load static %}
<html>

<head>
<title>Student Info App</title>
    <link rel="stylesheet" type="text/css" href="/static/style1.css">
</head>
<body>
    <div class="loginbox">
    <img src="/static/images/avatar.png" class="avatar">
        <h1>Login Here</h1>
        <p><font color="red"> {{error}} </font> </p>
        <form action ="/student/login/" method="POST">{% csrf_token %}
            <p>Email Id</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="pwd" placeholder="Enter Password">
            <input type="submit" name="submit" value="Login">

        </form>

    </div>

</body>

</html>